.navbar{
    border-color: gray;
    box-shadow: 0 0 10px gray;
    background-color: #EDEEF0;
}
header{
    background-color:#EDEEF0;
}
.welcome{
    width: 80%;

}
.heading{
    background-color: #fff;
    border-color: gray;
    box-shadow: 0 0 10px gray;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3.73rem ;
}

h2{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width:768px){
    h1{
        font-size: 2rem;
    }
    .welcome{
        width: 90%;
        padding: 2rem;
    }

}